DJANGO_SECRET_KEY=replace_with_a_long_random_secret_key
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=standardactimesheet.com,www.standardactimesheet.com,127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=https://standardactimesheet.com,https://www.standardactimesheet.com
DJANGO_STATIC_ROOT=staticfiles
DJANGO_USE_X_FORWARDED_HOST=True
DB_NAME=timesheet_db
DB_USER=timesheet_user
DB_PASSWORD="replace_me"
DB_HOST=192.168.0.119
DB_PORT=5432
DB_SSLMODE=disable
